
body{
    font-family: 'Open Sans', sans-serif;


}
.btn-primary{
    border-radius: 5px;
    background: rgb(132, 64, 64);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px35px;
}
.section-title{
    color: rgb(6, 4, 19);
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}
.section-description{
    color: rgb(120, 21, 227);
    text-align: center;
    font-size: 18px;
}

/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
    

}
.text color{
    color: orange;
}

.website-title{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}   
nav > ul {
    display: flex;
    list-style-type: none;
}
nav > ul > li {
    list-style: none;
    margin-right: 50px;
}
nav >a{
    text-decoration: none;
    color: rgb(77, 53, 26);

}
/*header related style*/
.header{
    background-color: rgb(131, 85, 30);
    background-image: url(. ./image);
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.profile{
    width:500px;
}
.banner-greeting{
    font-size: 45px;
    color: rgb(80, 45, 113);
    margin-bottom:0;

}
.banner-title{
    font-size: 85px; 
    font-weight:700mar;
    margin-top: 5px;
    margin-bottom: 20px;

}
/*main-section styles*/
main{

    max-width: 1140px;
    margin: 0 auto;

}

/*about section styles*/
.about{
    padding: 130px;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: center;

}